@import '../../node_modules/@tabler/core/dist/css/tabler.min.css';
@import "vue-toastification/dist/index.css";
@import "spinner";

body {
    overflow-y: auto;
}

.invalid-feedback-simple {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: var(--tblr-danger-text);
}
